.completed-todo {
  color: rgb(70, 70, 70);
  text-decoration: line-through;
  background-color: rgb(236, 236, 236);
}

.App div {
  text-align: center;
}

.App div button {
  border: none;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  width: 33.33333%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(94, 94, 94);
  background-color: rgb(224, 224, 224);
}

.App div button.active {
  background-color: rgb(94, 94, 94);
  color: rgb(224, 224, 224);
}

ul {
  list-style-type: none;
  box-shadow: 1px 1px 1px 1px #ccc;
}

li {
  width: 100%;
  cursor: pointer;
  padding: 12px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

li i {
  float: right;
  margin-left: 10px;
  color: rgb(94, 94, 94);
  font-size: 20px !important;
}

li i.delete:hover {
  color: red;
}

.todo-input {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.empty {
  height: 100px;
}

.no-items {
  margin: auto;
  padding-top: 25px;
  color: rgb(200, 200, 200);
}
