.completed-todo {
  color: rgb(70, 70, 70);
  text-decoration: line-through;
  background-color: rgb(236, 236, 236);
}

.App div {
  text-align: center;
}

.App div button {
  border: none;
  outline: none;
  margin: 15px 0;
  padding: 10px 0;
  cursor: pointer;
  width: 33.33333%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(94, 94, 94);
  background-color: rgb(224, 224, 224);
}

.App div button.active {
  color: rgb(224, 224, 224);
  background-color: rgb(94, 94, 94);
}

ul {
  margin: 25px auto;
  list-style-type: none;
  box-shadow: 1px 1px 1px 1px #ccc;
}

li {
  width: 100%;
  display: table;
  cursor: pointer;
  padding: 0px 20px;
  line-height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

li span {
  width: 85%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

li i {
  float: right;
  margin: 20px 0;
  margin-left: 10px;
  display: table-cell;
  vertical-align: middle;
  color: rgb(94, 94, 94);
  font-size: 20px !important;
}

li i.delete:hover {
  color: red;
}

li i.edit:hover {
  color: #2a6ea0;
}

form {
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

li form {
  border: none;
  display: inline;
}

input {
  width: 90%;
  border: none;
  outline: none;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

.add-todo {
  width: 10%;
  cursor: pointer;
  padding: 0 10px;
  text-align: right;
  box-sizing: border-box;
  font-size: 20px !important;
}

li input {
  width: 80%;
  margin: 0;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.empty {
  height: 100px;
}

.no-items {
  margin: auto;
  padding-top: 25px;
  color: rgb(200, 200, 200);
}
